h2 {
    margin-top: -0.125%;
    font-family: Futura,Trebuchet MS,Arial,sans-serif; 
    font-weight: lighter;
} 

.search-div {
    display: flex;
}  

.search {
    padding-right: 0.5%;
    max-width: 25%;
}